@use "variables" as *;
@use "mixins" as *;

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.imgContainer {
    min-width: 9%;
    max-width: 9%;
    @include flex(row, wrap);
    align-items: center;

    i {
        font-size: 1.2rem;
        padding: 30%;
    }
}

body {
    background-color: $secondaryColor;
    color: $primaryColor;
}

button {
    background-color: $tertiaryColor;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}