@use "variables" as *;
@use "mixins" as *;

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.imgContainer {
    min-width: 9%;
    max-width: 9%;
    display: block;
    height: 59px;
    @include flex(row, wrap);
    align-items: center;

    i {
        font-size: 1.2rem;
        padding: 30%;
    }
}

body {
    background-color: $secondaryColor;
    color: $primaryColor;
}

button {
    background-color: $tertiaryColor;
    font-family: inherit;
    font-size: 0.8rem;
    border: none;
    margin: 10px 0;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    font-size: clamp(1rem, 1vw, 1.2rem);

}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3 {
    font-family: $primaryFont;
}

li {
    font-family: $secondaryFont;
}