@use "variables" as *;
@use "mixins" as *;

.formSearch {

    padding: 5% 0;


    form {
        @include flex(column, wrap);
        width: 80%;
        align-items: left;
        border: 2px solid $tertiaryColor;
        width: 50%;
        padding: 20px 0;
        border-left: none;
        margin-left: -5%;
        padding-left: 5%;
        border-radius: 0 10px 10px 0;


        label {
            width: 60%;
            padding: 20px 0;
            font-family: $primaryFont;
        }

        input {
            width: 50%;
            font-family: $primaryFont;
            padding: 5px;
            margin: 5px 0;
            border: 2px solid $secondaryColor;
            border-left: none;

            &:focus {
                outline: 3px solid $tertiaryColor;
            }
        }

        button {
            align-self: left;
            width: 30%;
            border-radius: 0 10px 10px 0;
        }
    }
}