@use "variables" as *;

header {
    h1 {
        text-align: left;
        border-bottom: 2px solid $tertiaryColor;
        margin-right: -5%;
        padding: 3% 0;
        font-weight: 300;
    }

    h3 {
        text-align: right;
        border-bottom: 2px solid $tertiaryColor;
        margin-left: -5%;
        padding: 3% 0;
        font-weight: 300;
    }
}