@use "mixins" as *;

.labelNames {
    @include flex(column, wrap);
    align-items: center;

    .labelNameContainer {
        @include flex(row, wrap);
    }

    .labelReleases {
        transition: 0.3s;
        padding: 30px 40px;
        position: fixed;
        transform: translate(-50%, -50%);
        transition: 0.3s;
        left: 50%;
        top: 50%;
        background-color: green;
        @include flex(column, nowrap);
        align-items: center;
        width: 80%;
        overflow: auto;
        box-shadow: 0px 25px 43px 0px rgb(0 0 0 / 32%);

        h2 {
            text-align: center;
        }

        ul {
            position: relative;

            .labelReleaseContainer {
                width: 100%;
                @include flex(row, wrap);


                li {
                    @include flex(row, wrap);
                    width: 80%;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
                }
            }

            .btnBack {
                position: absolute;
                left: 0;
                top: 50%;
            }

            .btnForward {
                position: absolute;
                right: 0;
                top: 50%;
            }


        }

        .xButton {
            position: absolute;
            top: 4%;
            right: 2%;
        }
    }
}

.hidden {
    display: none;
}

.blur {
    filter: blur(5px);
}