// colors

$primaryColor: #363537;
$secondaryColor: #EAF2E3;
$tertiaryColor: #F25757;
$displayReleases: #C0D8AB;

// fonts

$primaryFont: 'Roboto Slab', serif;
$secondaryFont: 'Yantramanav', sans-serif;